venv/
env/
.venv/

.env


__pycache__/
*.py[cod]
*$py.class


.ipynb_checkpoints/


.DS_Store
Thumbs.db


*.csv
data/
test_inference.py
*.python
*_model_v*
# Node/React
frontend/node_modules/
frontend/dist/